@font-face {
  font-family: "SF Fedora";
  src: url("../fonts/SFFedora.ttf");
  font-weight: 800;
}

* {
  margin: 0;
}

canvas {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.register-wrapper,
.result-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(100, 100, 100, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-header {
  font-size: 25px;
}

.register-block {
  margin: 0;
  padding: 0;
  color: #ffd700;
  font-size: 20px;
}

.name-input {
  text-align: center;
  border: none;
  font-size: 18px;
}

.result-table {
  margin: 0;
  padding: 0;
  color: #ffd700;
  font-size: 20px;
  border-collapse: collapse;
  text-align: center;
  background-color: #555;
}

.result-table th,
.result-table td {
  padding: 5px 10px;
  font-size: 20px;
}

.result-table td {
  color: #ffd700;
}

.result-header {
  font-size: 30px;
  color: #ffd700;
}

.result-heading {
  background-color: #ffd700;
}

.result-heading td {
  color: #aaa;
}

.current-score {
  border: 1px solid #ffd700;
}

.loader {
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%; 
  left: 50%;
}

.loader-elem {
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba(0,0,0,.4);
  animation: run 2s infinite ease-in-out;
}

.one {
  background: #F3B222;
  animation-delay: 1.5s;
}
.two {
  background: #F0653E;
  animation-delay: 1s;
}
.three {
  background: #B9C0C0;
  animation-delay: 0.5s;
}
.four {
  background: #8F7473;
}

@keyframes run {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5); 
    border-radius: 0%;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%; 
  }
  75% {
    transform: translate(0%, 150%) scale(0.5); 
    border-radius: 0%;
  }
}
