.task-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(100, 100, 100, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-block {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.task-header {
  font-size: 30px;
  padding: 20px;
  color: gold;
}

.task-text {
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  margin: 0;
  padding: 0;
  color: gold;
  font-size: 20px;
}

.solution-input {
  width: 50px;
  margin: 0 10px;
  text-align: center;
  border: none;
  font-size: 18px;
}

.solution-correct,
.solution-wrong {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 100%;
  padding: 10px;
}

.solution-correct {
  color:#080;
}

.solution-wrong {
  color:#d00;
}

.correct {
  background-color: #080;
  color: #fff;
}

.wrong {
  background-color: #d00;
  color: #fff;
}
